<section class="content-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li style="color:black;">
                        <i class="fa fa-home"></i>
                        <a href="#">Dashboard </a>
                    </li>
                    <li style="color:#e43302">Employer</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="ptb-20">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="employee-header">
                    <h2>All Employer</h2>
                </div>
            </div>
            <div class="col-md-3">
                <mat-form-field>
                    <mat-label>Sort By</mat-label>
                    <mat-select [(value)]="selected" (selectionChange)="sortByTableData($event)">
                        <mat-option value="1" selected>Descending</mat-option>
                        <mat-option value="0">Ascending</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <div class="search-2">
                    <input class="form-control" #box (keyup.enter)="searchData()" [(ngModel)]="searchText" placeholder="Search By Employer ID And Email ID....">
                    <button class="btn btn-search-2" (click)="searchData()"><i class="fa fa-search"></i></button>
                    <button (click)="getEmployerData()" type="button" class="filter-from-input-box-button"> Download Data</button>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <ng-container matColumnDef="companyID">
                        <mat-header-cell *matHeaderCellDef> Employer ID </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.companyid}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="companyname">
                        <mat-header-cell *matHeaderCellDef> Company Name </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.company_name}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="IndustryType">
                        <mat-header-cell *matHeaderCellDef> Industry Type </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.industrytype}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="CompanyType">
                        <mat-header-cell *matHeaderCellDef> Company Type </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.companytype}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="OfficeAddress">
                        <mat-header-cell *matHeaderCellDef fxFlex="1"> Office Address </mat-header-cell>
                        <!-- <th mat-header-cell *matHeaderCellDef>Office Address</th> -->
                        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
                        <!-- <mat-header-cell *matHeaderCellDef fxFlex="1"> Office Address </mat-header-cell>
                        <mat-cell *matCellDef="let element" fxFlex="1"><span class="ellipsis"> {{element.address}} </span></mat-cell> -->
                    </ng-container>
                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef> Email Id </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="Contactnumber">
                        <mat-header-cell *matHeaderCellDef> Contact Number </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.contactnumber}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="accountstatus">
                        <mat-header-cell *matHeaderCellDef> Account Status </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.accountstatus}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="hyperservice">
                        <mat-header-cell *matHeaderCellDef> Hyperhier Service </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.ishyperhire}}</mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns | paginate: { itemsPerPage: 10, currentPage: page, totalItems: totalPages*10 }" (click)="companyProfile(row.id)"></mat-row>
                </mat-table>
                <div class="pagination">
                    <pagination-controls (pageChange)="pageChange($event)"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</section>