<div class="header navbar-fixed-top bg-orange-gdt">
    <div class="logo">
        <img src="./../../../assets/images/logo.png" alt="image" width="45px" height="50px" />
    </div>
    <div class="logo1">
        <div class="menu-hamburger"></div>
        <div class="menu-hamburger"></div>
        <div class="menu-hamburger"></div>
    </div>
    <div class="search">
        <div class="form-group">
            <!-- <button class="btn"><i class="fa fa-search"></i></button> -->
            <!-- <input type="text" class="form-control" placeholder="Search Something"> -->
        </div>
    </div>
    <div class="align-rt">
        <div class="notification-btn">
            <!-- <i class="fa fa-envelope"></i> -->
        </div>
        <div class="notification-btn">
            <!-- <i class="glyphicon glyphicon-bell"></i> -->
        </div>
        <div class="userbtn">
            <a class="userbtn-down">
                <span class="user-pic">
          <img src="./../../../assets/images/piyush.png" alt="fbhfb" /> </span>{{ name }}</a>
            <!-- {{user.name}} -->
            <ul class="usermenu bg-dark radius">
                <i class="color-dark"></i>
                <li (click)="logout()">
                    <a>Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>