  .img-add {
      // position: absolute;
      height: 25px;
      // top: 68px;
      // left: 153px;
  }
  
  .about-role ul li {
      display: inline;
  }
  
  .bx-content h4 {
      font-family: poppins-regular;
      color: #666;
      font-size: 18px;
      margin-bottom: 15px;
      line-height: 35px;
  }
  
  .bx-content h4 span {
      color: green;
  }
  
  .bx-content {
      width: 90%;
      float: left;
  }
  
  .bx-content h3 {
      font-size: 21px;
      font-family: poppins-semibold;
  }
  
  .bx-content h3 span {
      font-family: poppins-regular;
      color: #848282;
  }
  
  h4 {
      padding: 10px;
      border-bottom: 0px solid #ec0909e3;
      font-size: 90%;
      font-weight: 700;
  }
  
  